{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<br>
<br>
<br>


<div class="container">
  <div class="row">
    {% for neighbourhood in neighbourhoods %}
    <div class="col-md-4" style="">

      <div class="w3-card" style="width:100%; height:600px; overflow:hidden;">
        <header class="w3-container w3-light-grey">
          <a href="/profile"><img src="{{ user.profile.image.url }}" alt="Avatar" class="w3-left w3-circle" width="50px;" height="50px;"></a>
          <hr>
          <h4><a href="#" style="text-decoration:none;">{{ neighbourhood.name }}</a></h4>
        </header>
        <hr>
        <div class="w3-container" style="object-fit: contain'">
        </div>
        <hr>
        <footer class="w3-container">
          <p class='article-content'>{{ neighbourhood.location }}</p>
        </footer>
      </div>
      <br><br><br><br>


    </div>
    {%endfor%}
  </div>

</div>

{% endblock %}
